
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/img/euro-coin.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Customer Churn - Financial Services
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <!-- CSS Files -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet" />
  <link href="../static/css/now-ui-dashboard.css?v=1.5.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="orange">
      <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
          CUSTOMER CHURN
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <ul class="nav">
          <li class="active">
            <a href="/summary">
              <i class="now-ui-icons text_align-center"></i>
              <p>Summary</p>
            </a>
          </li>
          <li>
            <a href="/dashboard">
              <i class="now-ui-icons business_chart-pie-36"></i>
              <p>Dashboard</p>
            </a>
          </li>

          <li>
            <a href="/model">
              <i class="now-ui-icons education_atom"></i>
              <p>Selected Model</p>
            </a>
          </li>
          <li>
            <a href="/othermodel">
              <i class="now-ui-icons design_app"></i>
              <p>Other Models</p>
            </a>
          </li>
          <li>
            <a href="/predict">
              <i class="now-ui-icons ui-2_chat-round"></i>
              <p>Predictions</p>
            </a>
          </li>
          <li>
            <a href="/about">
              <i class="now-ui-icons users_single-02"></i>
              <p>About Us</p>
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <h1>SUMMARY</h1>
          </div>          
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">

      </div>
      <div class="content">
        
        <div class="row">
          <div class="col-lg-10">
            <div class="card card-chart">
              <div class="card-header">
                <h4 class="title">Project Summary</h4>
                <p>We are a European bank with operations in France, Germany, and Spain. Our bank is focused on ensuring we retain our customers globally and have embarked on a machine learning project using historical data to evaluate our customer behavior since they started banking with us. </p>
                 <P> The goal of the project is to predict the bank customers that are likely going to churn or stop using our services. This will enable us to be proactive in providing services and products tailored to the project outcome that will ultimately increase our market share. </P>       
              </div>      
            </div>
          </div>
       
<!---logo-->
      
          <div class="col-lg-2">
            <div class="card card-chart">
              <div class="card-header">
                  <div class="card-body text-center">
                    <img src="../static/img/Team_logo.PNG" alt="...">
                  </div>
                </div>
              </div>
            </div>

        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="card" style="height: 19rem;">
              <div class="card-header">
               <h4 class="title">Project Description</h4>
                <p>The aim is to predict bank customers that will churn and those that will not. We performed exploratory data analysis using 10,000 records with visualizations in Tableau using features such as Age, Gender, Geography, number of bank products used, level of activity, credit card history, estimated salaries and bank balances. This enabled us to identify certain groups of customers that had a high potential to churn.  Subsequently, we used machine learning algorithm to predict customer churn. </p>     
              </div>          
            </div>
          </div>
<!------>
      <div class="col-md-6">
          <div class="card" style="height: 19rem;">
            <div class="card-header">
              <h4 class="title">Machine Learning Process</h4>
              <p>We tested out the accuracy of five different Machine Learning Classification Models (K-Nearest Neigbour, Support Vector Machine, Decision Tree, Random Forest and Neural Networks). We went further to validate our models using (Confusion Matrix, F1 score, Accuracy, Feature Importance, Error curves, Random forest decision trees and ANN architecture).
              </p> 
              <p>
                The Random Forest and Neural Networks gave the best predictions but we decided to go with the ANN because of it's flexibility and future scalability.
              </p>    
            </div>      
          </div>
        </div>
      </div>
      
      <div class="row">
        <div class="col-md-12">
          <div class="card" >
            <div class="card-header">
            <h4 class="title">Our Workflow</h4>
             <div class="card-body">
               <img src="../static/img/workflow2.png" alt="...">
            </div> 
          </div>
         </div>
        </div>
      </div>
      


    <div class="row">
      <div class="col-md-6">
        <div class="section section-gray section-clients">
          <div class="container text-center">
            <div class="card card-chart">
              <div class="card-header">
                  <div class="card-body text-center">
                    <img src="../static/img/findings4.png" alt="...">
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
                
    <!----->


    <!----Data source-->
      <div class="col-md-6">
        <div class="section section-gray section-clients">
          <div class="container text-center">
            <div class="card card-chart">
              <div class="card-header">
                <div class="card-body text-center">
                  
                  <a href="https://www.kaggle.com/adammaus/predicting-churn-for-bank-customers"><img src="../static/img/dataset2.png" alt="..."></a>

              </div>
             </div> 
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Table -->
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 class="title"> Dataset</h4>
          </div>
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-striped">
                <thead class=" text-primary">
                  <th class="text-center">
                    CreditScore
                  </th>
                  <th class="text-center">
                    Geography
                  </th>
                  <th class="text-center">
                    Gender
                  </th>
                  <th class="text-center">
                    Age
                  </th>
                  <th class="text-center">
                    Tenure
                  </th>
                  <th class="text-center">
                    Balance
                  </th>
                  <th class="text-center">
                    NumOfProducts
                  </th>
                  <th class="text-center">
                    HasCrCard
                  </th>
                  <th class="text-center">
                    IsActiveMember
                  </th>
                  <th class="text-center">
                    EstimatedSalary
                  </th>
                  <th class="text-center">
                    Exited
                  </th>                  
                </thead>
                <tbody>
                  <tr>
                    <td class="text-center">
                     619
                    </td>
                    <td class="text-center">
                      France
                    </td>
                    <td class="text-center">
                      Female
                    </td>
                    <td class="text-center">
                      42
                    </td>
                    <td class="text-center">
                      2
                    </td>
                    <td class="text-center">
                      0.00
                    </td>
                    <td class="text-center">
                      1
                    </td>
                    <td class="text-center">
                      1
                    </td>
                    <td class="text-center">
                      1
                    </td>
                    <td class="text-center">
                      101348.88
                    </td>
                    <td class="text-center">
                      1
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                     608
                    </td>
                    <td class="text-center">
                      Spain
                    </td>
                    <td class="text-center">
                      Female
                    </td>
                    <td class="text-center">
                      41
                    </td>
                    <td class="text-center">
                      1
                    </td>
                    <td class="text-center">
                      83807.86
                    </td>
                    <td class="text-center">
                      1
                    </td>
                    <td class="text-center">
                      0
                    </td>
                    <td class="text-center">
                      1
                    </td>
                    <td class="text-center">
                      112542.58
                    </td>
                    <td class="text-center">
                      0
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                     502
                    </td>
                    <td class="text-center">
                      France
                    </td>
                    <td class="text-center">
                      Female
                    </td>
                    <td class="text-center">
                      42
                    </td>
                    <td class="text-center">
                      8
                    </td>
                    <td class="text-center">
                      159660.80
                    </td>
                    <td class="text-center">
                      3
                    </td>
                    <td class="text-center">
                      1
                    </td>
                    <td class="text-center">
                      0
                    </td>
                    <td class="text-center">
                      113931.57
                    </td>
                    <td class="text-center">
                      1
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                     699
                    </td>
                    <td class="text-center">
                      France
                    </td>
                    <td class="text-center">
                      Female
                    </td>
                    <td class="text-center">
                      39
                    </td>
                    <td class="text-center">
                      1
                    </td>
                    <td class="text-center">
                      0.00
                    </td>
                    <td class="text-center">
                      2
                    </td>
                    <td class="text-center">
                      0
                    </td>
                    <td class="text-center">
                      0
                    </td>
                    <td class="text-center">
                      93826.63
                    </td>
                    <td class="text-center">
                      0
                    </td>
                  </tr>
                  <tr>
                    <td class="text-center">
                     850
                    </td>
                    <td class="text-center">
                      Spain
                    </td>
                    <td class="text-center">
                      Female
                    </td>
                    <td class="text-center">
                      43
                    </td>
                    <td class="text-center">
                      2
                    </td>
                    <td class="text-center">
                      125510.82
                    </td>
                    <td class="text-center">
                      1
                    </td>
                    <td class="text-center">
                      1
                    </td>
                    <td class="text-center">
                      1
                    </td>
                    <td class="text-center">
                      79084.10
                    </td>
                    <td class="text-center">
                      0
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
          
      </div>
      <footer class="footer">
        <div class=" container-fluid ">
          <div class="copyright" id="copyright">
            &copy; <script>
              document.getElementById('copyright').appendChild(document.createTextNode(new Date().getFullYear()))
            </script>Georgia Tech. Coded by Doris Akpovwa, Nader Salameh and Carlos Pazos.
          </div>
        </div>
      </footer>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="../static/js/core/jquery.min.js"></script>
  <script src="../static/js/core/popper.min.js"></script>
  <script src="../static/js/core/bootstrap.min.js"></script>
  <script src="../static/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chart JS -->
  <script src="../static/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/js/now-ui-dashboard.min.js?v=1.5.0" type="text/javascript"></script><!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script src="../static/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      demo.initDashboardPageCharts();

    });
  </script>
</body>

</html>